@model Rent_A_Car.Models.VoertuigRegistratie
    <head>
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/lightbox.css" />
        <link rel="stylesheet" href="~/css/font-awesome.css" />
        <script src="js/jquery-1.11.1.min.js"></script>

    </head>
    <body>
        <div class="loginPage2">
            <div class="loginContainer">
                <div class="wittevak2">
                    <div class="loginLogo">
                        <img id="loginLogo2" src="~/lib/Images/carpng1.png" />

                    </div>

                    <hr />

                </div>
                <div class="tekstmid2">
                    <dl id="details">
                        <h2>Details</h2>
                        <dt>
                            @Html.DisplayNameFor(model => model.Merk)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Merk)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Dagprijs)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Dagprijs)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Type)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Type)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Kenteken)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Kenteken)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Schakelaar)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Schakelaar)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Brandstof)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Brandstof)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.AantalZitPlaats)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.AantalZitPlaats)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Airco)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Airco)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.AantalDeur)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.AantalDeur)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.BeginDatum)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.BeginDatum)
                        </dd>
                        <dd>
                            @Html.DisplayFor(model => model.EindDatum)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.AantalDagen)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.AantalDagen)
                        </dd>
                        <a asp-action="Edit" asp-route-id="@Model.VoertuigId">Edit</a> |
                        <a asp-action="Index">Back to List</a>
                    </dl>
                </div>
                <div>
                    
                </div>
            </div>
        
    </body>